@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.Table {
  width: 100%;
  display: flex;

  .TableInner {
    background-color: var(--light-grey-color);

    td {
      text-align: center;
    }
  }
}
