@import "./../../styles/color.scss";
@import "./../../styles/mixins.scss";

.Table {
  width: 100%;
  display: flex;

  .TableInner {
    width: 100vw;
    margin: 0 64px;
    th {
      background-color: var(--tableTdBg);
    }
    td {
      background-color: var(--tableTdBg);
      text-align: center;
      padding: 10px;
    }
  }
}
